SECRET_KEY=django-insecure-sua-chave-ultra-secreta-aqui
DEBUG=False

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=NOMENOME
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=1234